body {
    font-family: "Trirong", serif;
}

.nazwa {
    margin-top: 120px;
}

.table {
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #0206ff;
    color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.form-label {
    color: black;
    font-weight: bold;
    font-size: 16px;
}
