body {
    font-family: "Trirong", serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/image/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}

.nazwa{
    margin-top: 120px;
}

.table {
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #0206ff;
    color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.form-label{
    color: black;
    font-weight: bold;
    font-size: 16px;
}


